head
  link(rel='icon' href='images//Kfl-1.png' width='50' height='50' type='image/ico')
  title  KFL 
  meta(name='Generator' content='EditPlus')
  meta(name='Author' content='')
  meta(name='Keywords' content='')
  meta(name='Description' content='')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  
  

  link(rel='stylesheet' type='text/css' href='css/main.css')
  script(src='js/main.js')
  link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')


  // Custom CSS
  link(href='css/custom.css' rel='stylesheet')
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='js/custom.js')
  style.
    #wrapper {
    width: 100%;
    }
    #page-wrapper {
    padding: 0 15px;
    min-height: 825px;
    background-color: white;
    background:url("images/profile_bg.jpg")no-repeat;
    background-size:cover;
    }
    .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    }
    .profile-usertitle {
    text-align: center;
    margin-top: 20px;
    }
    .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    }
    .borads {
    color: white;
    }
    .title {
    color: #000;
    background:#fff;
    padding:7px 0px;
    font-size: 18px;
    }
    .page-header {
    color:#fff;
    }
#wrapper
  // Navigation
  nav.navbar.navbar-default.navbar-static-top(role='navigation' style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.site_title(href='home')
        img(src='images/Kflcut.png' width='200' height='125' style='margin-left:25px;')
    // /.navbar-header
    h1(style='text-align:center; padding-top:40px; font-size:28px;') KIDS FANTASY LEAGUE
    
    .navbar-default.sidebar(role='navigation')
      .sidebar-nav.navbar-collapse
        .profile-userpic
          img.img-responsive(src='images/profile.png' alt='')
        // END SIDEBAR USERPIC
        // SIDEBAR USER TITLE
        .profile-usertitle
          .profile-usertitle-name
            a(href='/profile')= username 
        ul.text-center#side-menu.nav
          li
            a(href='/leaderboard')
              i.fa.fa-dashboard.fa-fw
              |  Leaderboard
          li
            a(href='/myteam' )
              i.fa.fa-dashboard.fa-fw
              |  My Team
          li
            a(href='/earnPoints' )
              i.fa.fa-dashboard.fa-fw
              |  Earn Points
          li
            a(href='/logout')
              i.fa.fa-edit.fa-fw
              |  Logout
          li.text-center
            a(href='#' 
            data-toggle='modal' 
            data-target='#modalPlayerForm') 
              |  Add Players
      // /.sidebar-collapse
    // /.navbar-static-side
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header.text-center Earn more points by watching videos and solving quizzes.
      // /.col-lg-12
    .row.borads
      .col-lg-12
          video#myVideo.col-sm-12(controls='')
            source(src='Videos/Geelong v Melbourne Match Highlights  Round 18 2018  AFL.mp4' type='video/mp4')
          h1(style='color:blue; font-family:Arial, Helvetica, sans-serif; text-align: center;') 
          
          h2(style='color:rgb(238, 48, 23);text-align: center;') up next
          video.col-sm-12(style='padding-bottom: 5px;' controls='')
            source(src='Videos/Richmond v Hawthorn Match Highlights  Qualifying Finals 2018  AFL.mp4' type='video/mp4')
          p(style='color:rgb(212, 171, 36);text-align: center;') Richmond v Hawthorn Match Highlights Round 1
          video.col-sm-12(style='padding-bottom: 5px;' controls='')
            source(src='Videos/West Coast v Collingwood Highlights  Qualifying Final 2018  AFL.mp4' type='video/mp4')
          p(style='color:rgb(212, 171, 36);text-align: center;') Richmond v Hawthorn Match Highlights Round 3
          video.col-sm-12(style='padding-bottom: 5px;' controls='')
            source(src='Videos/NAB Mini Legends  AFL Kids.mp4' type='video/mp4')
          p(style='color:rgb(212, 171, 36);text-align: center;') Richmond v Hawthorn Match Highlights Round 5
          video.col-sm-12(style='padding-bottom: 5px;' controls='')
            source(src='Videos/NAB Mini Legends  AFL Kids.mp4' type='video/mp4')
          p(style='color:rgb(212, 171, 36);text-align: center;')
            | Richmond v Hawthorn Match Highlights Round 5
          
          script.
            var vid = document.getElementById("myVideo");
            vid.onended = function() {
             var txt;
             var person = prompt("What was the winnning score?", "98");
              if (person == null || person == "") {
                txt = "User cancelled the prompt.";
              } else {
                txt = person ;
                //- localStorage.setItem("pointsIncrement","5");
                location.replace("/updatePoints");
              } 
  
            //- alert("Congratulations, \n The video has ended, you are rewarded 5 points.");
            };

      <br/>
     

      <br/>
      
    .clearfix
  // /#page-wrapper
// /#wrapper
#modalPlayerForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header.text-center
        h4.modal-title.w-100.font-weight-bold Add New Player
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.mx-3
        form#addPlayerForm(method='post' action='/addPlayers')
          .md-form.mb-5
            #errorMessage(style='color:red; display:none')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='pname' placeholder='Player name')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='imgsrc' placeholder='Player image source')
          .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='team' placeholder='Player Team')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='age' placeholder='Player Age')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='points' placeholder='Player Points')
            .md-form.mb-4
            i.fa.fa-users
            input.form-control.validate(type='text' name='status' placeholder='Player Current status')
          
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-default Submit 
            